.input-containerr {
    position: relative;
    display: inline-block;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
  }
  
  .input-field {  
    width: calc(100% - 60px);
    background-color: #fff;
    border: none;
outline: none;
    padding: 10px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .image-button {
    background-image: url("/Component 619 – 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    width: 60px;
    background-color: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
     /* Rounded corners on the right side */
  }
  .input-field:focus{
    border: none;
  }
