.Diseaseimg{
    background-image: url('/coronavirus-outbreak-leisure-quarantine-social-distancing-emotions-concept-closeup-sick-yo.svg') ;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
}